* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.header {
    display: flex;
    /* flex-direction: column; */
    justify-items: center;
    align-items: center;
    justify-content: space-around;
}

.items ul {
    display: flex;
    /* flex-direction: column; */
}

.items ul li {
    list-style: none;
    padding: 20px 20px;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.items ul li a {
    color: #fff;
    text-decoration: none;
}

.search input {
    height: 25px;
    width: 100%;
    border: 0px ;
    text-align: center;

}


h2 {
    display: block;
    position: relative;
    top: 10%;
    left: 7%;
    color: #fff;
    font-size: 28px;
    padding: 10px 5px;
}


#movies-list1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#movies-list1 .movie-card {
    width: 200px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#movies-list1 .movie-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


#movies-list2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#movies-list2 .movie-card {
    width: 200px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#movies-list2 .movie-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


#movies-list3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#movies-list3 .movie-card {
    width: 200px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#movies-list3 .movie-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


#movies-list4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#movies-list4 .movie-card {
    width: 200px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#movies-list4 .movie-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
